# OS
.DS_Store

# IDE
.idea/
.vscode/

# Dependencies
.venv/
node_modules/

# Environment
.env

# Python cache
__pycache__/
.pytest_cache/
.ruff_cache/

# Coverage reports
/.coverage
htmlcov/

# Build cache
dist/
